<h1>App Component</h1>
<button routerLink="/admin" routerLinkActive="router-link-active">Admin</button>
<button routerLink="/home" routerLinkActive="router-link-active">Home</button>
<button (click)="userService.addUsers()">add user</button>
<router-outlet></router-outlet>
<br />
---
<app-my-name-form (submitName)="handleSubmitName($event)"></app-my-name-form>
value: {{ myNameFormValue }}
<br />
<app-customer (alert)="handleAlert($event)"></app-customer>
customer name: {{ customerName.name }}
<br />
---
<app-header></app-header>
<app-footer></app-footer>
<app-dashboard
  [customer]="dashboardCustomer"
  [count]="counter.asObservable() | async"
></app-dashboard>
<button (click)="addCount()">Add Count</button>
