.container {
  padding: 10px;
  padding-bottom: 50px;
  margin: 10px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links {
  display: flex;
  a {
    margin-right: 10px;
  }
}

.outlet {
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0px 0px 8px 9px #0000001a;
  border-radius: 4px;
}
