<div class="container">
  <div class="links">
    <a *ngFor="let route of routes" [routerLink]="route" routerLinkActive="router-link-active">
      {{ route }}
    </a>
  </div>

  <div class="outlet">
    <router-outlet></router-outlet>
  </div>
</div>

<app-my-name-form (submitName)="handleSubmitName($event)"></app-my-name-form>
value: {{ myNameFormValue }}

<br />
<br />
------------------------------
<app-customer (alert)="handleAlert($event)"></app-customer>
customer name: {{ customerName.name }}

<br />
<br />
------------------------------
<app-header></app-header>
<app-footer></app-footer>

<br />
<br />
------------------------------
<app-dashboard
  [customer]="dashboardCustomer"
  [count]="counter.asObservable() | async"
></app-dashboard>
<button (click)="addCount()">Add Count</button>
