<div class="container center">
  <div class="links">
    <a *ngFor="let route of routes" [routerLink]="route" routerLinkActive="router-link-active">
      {{ route }}
    </a>
  </div>

  <div class="outlet">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="container outlet">
  <h3>User control</h3>
  <button (click)="userService.addUser()">add user</button>
  users$: {{ userService.users$ | async }}
</div>

<div class="container outlet">
  <app-my-name-form (submitName)="handleSubmitName($event)"></app-my-name-form>
  value: {{ myNameFormValue }}
</div>

<div class="container outlet">
  <app-customer (alert)="handleAlert($event)"></app-customer>
  customer name: {{ customerName.name }}
</div>

<div class="container outlet">
  <app-header></app-header>
  <app-footer></app-footer>
</div>

<div class="container outlet">
  <app-dashboard
    [customer]="dashboardCustomer"
    [count]="counter.asObservable() | async"
  ></app-dashboard>
  <button (click)="addCount()">Add Count</button>
</div>
