/* You can add global styles to this file, and also import other style files */
// p { color: yellow}

a {
  text-decoration: unset;
}

.router-link-active {
  color: blue;
}

.float {
  router-outlet + * {
    @extend %outlet;
    display: block;
  }
}

.outlet {
  @extend %outlet;
}

%outlet {
  background-color: white;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0px 0px 8px 9px #0000000d;
  border-radius: 4px;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 0px 0px 8px 9px #0000001a;
  }
}

.float {
  position: absolute;
  right: 30px;
  top: 30px;
}
